.fa {
    padding: 20px;
}
a {
    text-decoration: blanchedalmond;
}
.card {
    margin: 15px;
    border-radius: 12px;
    /* background-color: #E0C9CB; */
    background-color: #F0F8FF;
    color: #4E4E4E;
    width: 200px; 
    height: 200px;
}
.btn {
    /* background-color: #BA7E7E;  */
    border-radius: 10px; 
    text-decoration: blanchedalmond; 
    border: none;
} 
