.fa {
    padding: 20px;
}
a {
    text-decoration: blanchedalmond;
}
.card {
    margin: 15px;
    border-radius: 12px;
    background-color: #E0C9CB;
    color: #4E4E4E;
}
 .btn {
    background-color: #BA7E7E;
    border-radius: 10px; 
    text-decoration: blanchedalmond;  
} 