.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 body {
  /* height: 100%;
  background-image: url(bkg.png); */
  /* overflow: hidden;
  background-size: cover; */
  background-color: #fcfaff;
}
.main-container {
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
}

.main {
  min-height:100% ;
  top: 40px;
  padding-bottom: 20px; 
  position: relative;
  padding-left: 350px;
  padding-right: 100px;
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background: #303036;
  color: #686868;
  height: 50px;
  text-align: center;
  left: 0px;
}
.footer > p {
  padding-top: 5px;
}
 p>a {
  color: #303036;
}

@media (max-width:420px) {

  .main {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.newProject{
  float: right;
  margin: 10px;
  color: #303036;
}
